@import 'tailwindcss';

@theme {
	--color-text-main: var(--text-main);
	--color-text-off: var(--text-off);
	--color-main-bg: var(--bg-main);
	--color-btn-primary-bg: var(--btn-primary-bg);
	--color-btn-secondary-bg: var(--btn-secondary-bg);
	--color-bg-hover: var(--bg-hover);
	--color-bg-bubble-user: var(--bg-bubble-user);
	--color-bg-bubble-ai: var(--bg-bubble-ai);
}

:root {
	/* 基本テキスト e0e0e0*/
	--text-main: #dbdbdb;

	/* オフのテキスト acacac*/
	--text-off: #7a7878;

	/* 基本背景色 171717*/
	--bg-main: #111111;

	/* ボタン・浮き出し要素 (AIバブル含む)d8d8d8 */
	--btn-primary-bg: #292929;

	/* セグメントのオフ色 e7e7e7*/
	--btn-secondary-bg: #1d1d1d;

	/* ホバー色 d6d3d1*/
	--bg-hover: #1f1f1f;

	/* ユーザーバブル */
	--bg-bubble-user: #133a0e;

	/* AIバブル */
	--bg-bubble-ai: #202020;
}

body {
	background-color: var(--c-bg-main);
	color: var(--c-text-main);
}

::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) both slide-up;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(5px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}